* {
  /* background-color: rgb(217, 217, 217); */
  color: black;
}

.App {
  height: 100%;
  padding: 0px, 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.books {
  padding: 20px 20px;
  display: flex;
  gap: 50px 20px;
  flex-wrap: wrap;
}

.book {
  width: 280px;
  height: 600px;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  /* justify-content: space-between; */
  /* overflow: hidden; */
}

img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  background-color: aquamarine;
}

.booksFlexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.delUpBtn {
  display: flex;
  gap: 20px;
  width: 95%;
  /* border: 1px solid red; */
  margin: 10px 10px;
}

.delete {
  flex: 1;
  border: none;
  padding: 3px 6px;
  background-color: white;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.update {
  flex: 1;
  border: none;
  padding: 3px 6px;
  background-color: white;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}
.updateLink {
  text-decoration: none;
  /* background-color: none; */
}

.update link {
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  width: 250px;
  padding: 10px;
  border: 1px solid gray;
}

.formbutton {
  border: none;
  padding: 10px;
  background-color: rgb(244, 108, 74);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}
